@import '_normalize.css';
@import '_react-tabs.css';
* {
  box-sizing: border-box;
}

.visual-parts-toggle label {
  display: block;
}

.visual-parts-toggle input {
  margin-right: 6px;
}

header {
  display: flex;
  flex-wrap: wrap;
  background-color: #216DF3;
  padding: 8px;
  margin-bottom: 12px;
}

header img {
  height: 60px;
}

header h1, header h2 {
  margin: 0;
}

header h2 {
  font-size: 12px;
}

header div {
  margin-left: 16px;
  color: white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333333;
}

main {
  width: 90%;
  width: fit-content;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 1700px;
}

#table {
  display: grid;
  grid-template-columns: repeat(17, auto) 1fr;
}

#element-info-box {
  grid-column: 3/13;
  grid-row: 1/4;
  display: flex;
}

/* Every element box  */
.element {
  cursor: pointer;
  width: 5vw;
  height: 5vw;

  padding: 0.2vw;
  border: 1px solid #333333;
  border-collapse: collapse;
  overflow: hidden;
  transition: all 1s;
}

.element:hover {
  transform: scale(1.5);
  z-index: 1;
}

.element:focus {
  outline: 2px dotted #003057 !important;
  outline-offset: 1px !important;
  z-index: 1;
}

.number {
  float: left;
  font-size: 0.8vw;
  position: absolute;
}

.symbol {
  font-weight: bold;
  text-align: center;
  line-height: 1;
  margin-top: 0.8vw;
  font-size: 2.5vw;
}

.element .element-mass {
  font-size: 0.6vw;
  text-align: center;
}

.element-name {
  font-size: 0.8vw;
  text-align: center;
}

#element-box .symbol {
  font-size: 5vw;
  margin-top: 2.8vw;
}

#element-box .number {
  font-size: 1.5vw;
}

#element-box .element-name {
  font-size: 2vw;
}

#element-box .element-info-mass {
  font-size: 1.2vw;
  text-align: center;
}

#element-box {
  width: 30%;
  grid-column: 1;
  margin: 0;
  padding: 0.2vw;
  overflow: hidden;
}

/* Information Table  */
#information {
  width: 70%;
  grid-column: 2;
  padding: 0.5vw;
  padding-top: 0;
  font-size: 1vw;
  max-height: 15vw;
  overflow-y: scroll;
}

#information .element-description-source {
  max-width: fit-content;
}

#information h1 {
  margin: 0 0 0.5vw 0;
}

.big_title {
  display: inline-block;
}

.cat_name {
  border-radius: 3px;
  padding: 0 5px;
  margin-left: 5px;
  top: -0.7vw;
  position: relative;
}

.close-button {
  float: right;
  cursor: pointer;
  color: #cccccc;
  margin-top: 7px;
}

.close-button:hover {
  color: #333333;
}

.appearance {
  margin-bottom: 0.5vw;
  max-width: fit-content;
}

.atom_info {
  margin-top: 0.5vw;
  color: #998100;
  border-collapse: collapse;
  width: 100%;
}

.atom_info tr {
  border-bottom: 1px solid #aaa;
  transition: color .6s;
}

.atom_info tr:hover {
  color: black;
  font-weight: 600;
}

.atom_info th {
  text-align: left;
  padding-right: 15px;
}

.atom_info p {
  margin: 0;
}

/* Helium to the top right  */
.element-2 {
  grid-column-start: -2;
}

/* Boron & Alumunium to the right  */
.element-5,
.element-13 {
  grid-column-start: 13;
}

/* Lanthinide & Actinoid split  */
.element-58,
.element-90 {
  grid-column-start: 3;
}

/* I DID NOT KNOW THERE WAS 119th ONE! */

.element-119 {
  grid-column-start: -2;
}

/* Categories and Groups */

/* Noble Gas  */
.noble {
  background: #f3d2e8;
}

/* Alkali Metal  */
.alkali {
  background: #f88379;
}

/* Alkaline Earth Metal  */
.alkaline {
  background: #ffc3a0;
}

/* Transition Metal  */
.transition {
  background: #e9ff08;
}

/* Polyatomic Non Metal  */
.polyatomic {
  background: #a3d2d5;
}

/* Diatomic Non Metal  */
.diatomic {
  background: #a3d5bf;
}

/* Post Transition Metal  */
.post-transition {
  background: #8eb1e7;
}

/* Metalloid  */
.metalloid {
  background: #5ed89c;
}

/* Lanthanide  */
.lanthanide {
  background: #cc99ff;
  /* Put a space to seperate the split table  */
  /* margin-top: 2.5vw; */
}

/* Actinide  */
.actinide {
  background: #ad87bd;
}

/* The Unknown Element  */
.unknown {
  background: #ccffff;
}

/* Disable the top space for the first lathenide which sits inside the table  */
.element-57 {
  margin: 0;
}

/* When in the hover state  */
.active {
  background: #fff;
  /* border-color: yellow; */
}

/* COLLAPSIBLE STYLES */

.Collapsible {
  background-color: rgb(255, 255, 255);
  margin-bottom: 12px;
  border: 1px solid #333333;
}

/* The content within the collaspable area */
.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid rgb(235, 235, 235);
  border-top: 0;
}

.Collapsible__contentInner  p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
}

.Collapsible__contentInner p:last-child {
  margin-bottom: 0;
}

/* The link which when clicked opens the collapsable area */
.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: rgb(51, 51, 51);
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: rgb(0, 172, 157);
  color: white;
  cursor: pointer;
}

.Collapsible__trigger:after {
  content: '>';
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  transition: transform 300ms;
}

.Collapsible__trigger.is-open:after {
  transform: rotateZ(90deg);
}

.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey;
}

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease;
}

.CustomTriggerCSS--open {
  background-color: darkslateblue;
}

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #CBB700;
  color: black;
}